*.out
*.exe
*.zip
update_instructions.txt
AcCoRD_wiki.txt
*results/
*doc/
test*
fig*
*.mat
bin/run_accord_dub.sh
bin/run_accord_rc.sh
bin/accord*.sh
*.pbs
*.asv
*.mp4
*.avi
bsc*
accord_config_0*
accord_plot_*
config/config_descriptions.txt
config/accord_config_a*
config/accord_config_j*
config/accord_config_t*
*.fig
matlab/accord_0*
matlab/accord_a*
matlab/accord_j*
matlab/accord_t*
matlab/accord_m*
matlab/impulse*
matlab/meso*
matlab/noel*
matlab/point*
matlab_*
download_stats.txt
