*.out
*.exe
*.zip
update_instructions.txt
AcCoRD_wiki.txt
*results/
test*
fig*
*.mat
bin/run_accord_dub.sh
bin/run_accord_rc.sh
*.pbs
*.asv
*.mp4
*.avi
bsc*
accord_config_0*
accord_plot_*
config/config_descriptions.txt
*.fig